@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-element: hsl(209, 23%, 22%);
  --dark-background: hsl(207, 26%, 17%);
  --light-text: hsl(200, 15%, 8%);
  --light-input: hsl(0, 0%, 52%);
  --light-background: hsl(0, 0%, 98%);
  --dark-text: white;
  --light-glow: hsl(0, 0%, 95%);
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}